.PageWrapper {
  padding: 50px 0;
  margin: 0 auto;
}

.PageWrapper select {
  text-transform: capitalize;
}

.PageWrapper .mui-textfield > label {
  text-transform: capitalize;
}

.MuiChip-root {
  color: rgba(0, 0, 0, 0.87);
  border: none;
  cursor: default;
  height: 32px;
  display: -webkit-inline-box;
  display: inline-flex;
  outline: 0;
  padding: 0;
  font-size: 0.8125rem;
  box-sizing: border-box;
  -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-box-align: center;
          align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  white-space: nowrap;
  border-radius: 16px;
  vertical-align: middle;
  -webkit-box-pack: center;
          justify-content: center;
  text-decoration: none;
  background-color: #e0e0e0;
  position: relative;
}

.MuiChip-clickable {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.MuiChip-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
}

.MuiChip-outlined .MuiChip-deleteIcon {
  margin-right: 5px;
}

.MuiChip-deleteIcon {
  color: rgba(0, 0, 0, 0.26);
  width: 22px;
  cursor: pointer;
  height: 22px;
  margin: 0 5px 0 -6px;
  -webkit-tap-highlight-color: transparent;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.MuiTouchRipple-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}

.createBtn {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.createBtn button {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.createBtn button svg.MuiSvgIcon-root {
  width: 2em;
  height: 2em;
}

img.imageProduct {
  margin: 30px auto;
}

ul.pagination {
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

ul.pagination li {
  margin: 5px;
  padding: 5px 10px;
}

header ul.mui-list--inline {
  margin-bottom: 0;
}

header a {
  color: white;
}

header table {
  width: 100%;
}

.capitalize {
  text-transform: capitalize;
}

@media screen and (min-width: 767px) {
  .productsWrapper {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
            justify-content: center;
  }
}

.errorMsg {
  width: 100%;
  margin: 10px 0;
  background: #e8454561;
}

